.scrim-board{
    margin-top: 1.5rem;

    .scrim-board-header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .scrim-board__title{
            margin: 0;
            padding: 0;
            font-size: 1.9rem;
            font-weight: 600;
        }

        .new-scrim-btn{
            padding: 0.75rem 1.5rem;
            text-decoration: none;
            color: white;
            background-color: #12799b;
            font-size: 1rem;
            // border-radius: 0.75rem;
            text-transform: capitalize;
            letter-spacing: 2px;
            font-weight: 600;
            font-family: inherit;
            text-align: center;
            margin-left: 1rem;

            &:hover{
                background-color: #016a8d;
            }
        }
    }

    .all-scrims{
        margin-top: 1.5rem;
        // display: flex;
        // flex-wrap: wrap;
        padding-right: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        grid-column-gap: 2rem;
    }
}

@media (max-width: 350px) {
    .scrim-board{

        .scrim-board-header{

            .scrim-board__title{
                font-size: 1.75rem;
            }

            .new-scrim-btn{
                padding: 0.75rem 1.25rem;
                font-size: 0.8rem;
            }
        }
    }
}

@media(min-width: 800px) {
    .scrim-board{
        margin-top: 0;

        .scrim-board-header{
            .scrim-board__title{
                font-size: 2.25rem;
            }

            .new-scrim-btn{
                padding: 1rem 2rem;
                font-size: 1.2rem;
            }
        }
    }
}

@media (min-width: 900px) {
    .scrim-board{
        .all-scrims{
            grid-template-columns: 1fr 1fr;
        }
    }
}